.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .col {
    position: relative;
    flex-basis: 48%;
    margin-bottom: 20px;
  }
  .col img {
    display: block;
    width: 100%;
    height: auto;
  }
  .col h2 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    padding: 10px;
    color: white;
    font-size: 18px;
    background-color: rgba(0,0,0,0.5);
  }
  .col p {
    margin-top: 10px;
  }

  .service-icon {
    width: 40px;
    height: 40px;
    padding-bottom: 10px;
  }