<div class="wrapper" style="padding-top: 80px;">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <h3 class="title">{{'exp.title' | translate}}</h3>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-header p-0 position-relative mx-3 z-index-2">
                    <a class="d-block blur-shadow-image">
                    <img src="assets/img/services.avif" alt="img-colored-shadow" class="img-fluid border-radius-lg">
                    </a>
                    </div>
                    <div class="card-body text-center">
                    <h5 class="font-weight-normal">
                        <a href="javascript:;">{{'exp.title1' | translate}}</a>
                    </h5>
                    <p class="mb-0">
                        {{'exp.sum' | translate}}
                    </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-lg-0 mt-4">
                <div class="row justify-content-start">
                    <div class="col-md-6">
                        <div class="info">
                        <img src="assets/img/property.png" class="service-icon">
                        <h5>{{'exp.1.title' | translate}}</h5>
                        <p>{{'exp.1.desc' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info">
                        <img src="assets/img/will.png" class="service-icon">
                        <h5>{{'exp.2.title' | translate}}</h5>
                        <p>{{'exp.2.desc' | translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-start mt-4">
                    <div class="col-md-6">
                        <div class="info">
                        <img src="assets/img/mortgage.png" class="service-icon">
                        <h5>{{'exp.3.title' | translate}}</h5>
                        <p>{{'exp.3.desc' | translate}}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info">
                        <img src="assets/img/refinancing.png" class="service-icon">
                        <h5>{{'exp.4.title' | translate}}</h5>
                        <p>{{'exp.4.desc' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

</div>


