<div class="wrapper" style="padding-top: 80px;">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg7.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                </div>
                <h4 class="title">{{'landing.name' | translate}}</h4>
                <p class="category text-primary">{{'landing.lawyer' | translate}}</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
          <h3 class="title">{{'about.me' | translate}}</h3>
          <h5 class="description"  style="font-weight: initial !important;text-align: left;">{{'landing.description' | translate}}</h5>
        </div>
    </div>
    <!-- <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">{{'landing.lawyer1' | translate}}</h2>
            <div class="team">
                <div class="row">
                    <div >
                        <div class="team-player">
                            <img src="assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">{{'landing.name' | translate}}</h4>
                            <p class="category text-primary">{{'landing.lawyer' | translate}}</p>
                            <div class="lawyer-desc">
                                <p class="description col-lg-8" style="font-weight: initial !important;">{{'landing.description' | translate}}</p>
                            </div>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
