<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!-- -------- START FOOTER 7 w/ DARK BACKGROUND AND 3 COLUMNS ------- -->
<footer class="footer py-5 my-10 bg-gradient-dark position-relative overflow-hidden">
    <img src="assets/img/waves-white.svg" alt="pattern-lines" class="footerbg">
    <div class="container position-relative">
      <div class="row">
        <div class="col-lg-3 me-auto text-lg-start">
          <h6 class="text-white font-weight-bolder text-uppercase mb-2">{{'contact.title' | translate}}</h6>
          <p class="text-white">
            Copyright © Material Design.
          </p>
        </div>
        <div class="col-lg-3 col-sm-4 col-12 ms-md-auto text-lg-start mb-sm-0 mb-4">
          <div>
            <h6 class="text-white text-sm mb-1">{{'contact.contacts' | translate}}</h6>
            <ul class="flex-column ms-lg-n3 nav">
              <li class="nav-item">
                <a class="nav-link text-white opacity-8 text-sm">
                  {{'contact.phone' | translate}}: 09 391 6699
                </a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link text-white opacity-8 text-sm">
                  {{'contact.mobile' | translate}}: 022 619 6699
                </a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link text-white opacity-8 text-sm">
                  {{'contact.email' | translate}}: info@wiselegal.co.nz
                </a>
              </li>
            </ul>
          </div>
        </div>
  
        <div class="col-lg-3 col-sm-4 col-12 text-lg-start mb-sm-0 mb-4">
          <div>
            <h6 class="text-white text-sm mb-1">{{'contact.address' | translate}}</h6>
            <ul class="flex-column ms-lg-n3 nav">
              <li class="nav-item">
                <a class="nav-link text-white opacity-8 text-sm">
                    30 Riverland Roald Kumeu,
                    <br/>
                    Auckland 0892
                </a>
              </li>
            </ul>
          </div>
        </div>
  
        <div class="col-lg-3 col-sm-4 col-12 text-lg-start mb-sm-0 mb-4">
          <div>
            <h6 class="text-white text-sm mb-1">{{'contact.hours' | translate}}</h6>
            <ul class="flex-column ms-lg-n3 nav">
              <li class="nav-item">
                <a class="nav-link text-white opacity-8 text-sm">
                  {{'contact.days' | translate}}
                  <br>
                  9:00 am – 5:30 pm
                  <br>
                  {{'contact.appointment' | translate}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- -------- END FOOTER 7 w/ DARK BACKGROUND AND 3 COLUMNS ------- -->